{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body %}
{% load static %}

 <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About</h2>
          <p>Hello! My name is Neelam Yadav, and I am a frontend developer with over 2 years of experience. My background is in creating beautiful and functional user interfaces for web applications. Recently, I have taken an interest in backend development and have started learning Django to expand my skillset. During my time as a frontend developer,But that's not all - as a curious and driven individual, I have also delved into backend development, specifically through learning Django. This has allowed me to expand my skillset and take on more challenging projects, both as a frontend and backend developer.
            My expertise includes building responsive and accessible websites using HTML, CSS, JavaScript, and popular frontend frameworks such as React.
          </p>
        </div>
         
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/BG..jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Gui App &amp; Web Developer.</h3>
            <p class="fst-italic">
              My background in creating beautiful and functional user interfaces has helped me craft websites that are not only aesthetically pleasing, but also accessible and responsive to different devices and screen sizes. I pride myself on creating websites that provide a seamless user experience, and I am constantly striving to improve and innovate in this field.
    
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Main Website:</strong> <span</span>www.softbazar.com</li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.baazargroup.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+911000000010</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lucknow, UP</span></li>
                  <a href="https://github.com/YadavNeelam09" target="_blank">
                    <img src="https://img.icons8.com/material-rounded/32/000000/github.png"/>
                  </a>
                  <a href="https://www.hackerrank.com/yneelam037" target="_blank">
                    <img src="https://img.icons8.com/windows/32/000000/hackerrank.png"/>
                  </a>
                  

                  <a href="https://www.youtube.com/YOUR_USERNAME" target="_blank">
                    <img src="https://img.icons8.com/material-outlined/32/000000/youtube-play--v2.png"/>
                  </a>
                </ul>
              </div>
            </div>
            
            
            
            
        
            

   
{% endblock body %}